.alert-message {
	position:fixed;
	width: 80%;
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.grayout {
	background-color:#666;
	opacity:.5;
	width:100%;
	height:100%;
	position:absolute;
}
.file-view {
	width:80px;
	max-width:130px;
	min-height:90px;
	max-height:120px;
	position:absolute;
	display:block;
	line-height: 1em;
	overflow:hidden;
	padding:3px;
	text-align:center;
	border-radius:4px;
	cursor:pointer;
	}
	.file-view.ui-draggable-dragging {
	}
	.file-view .working {
		display:none;
	}
	.file-view .progressbar {
		height: 5px;
	}
	.file-view .delete {
		cursor: pointer;
		position: absolute;
		left: -13px;
		top: 0px;
	}
	.file-view .info {
		cursor:pointer;
		position: absolute;
		right: -14px;
		top: 0;
		width:30px;
	}
	.file-view .world-icon {
		display: none;
		position:absolute;
		left:0;
		top:0;
		width: 24px;
		height: 24px;
	}
	.file-view .file-name {
		
	}
	.file-view .icon-display {
		position:relative;
		width:56px;
		margin: auto;
		}
		.file-view .icon-display > .ext {
			position: absolute;
			margin: auto;
			width: auto;
			top: 25px;
			left: 7px;
			font-size: 1.9em;
		}
.file-view:hover {
	background-color: #EEE;
	box-shadow: 0 0 5px rgba(0, 0, 255, 1);
	/*height:auto;
	width:auto;*/
}	
.file-view.working:hover {
	background-color: transparent;
	box-shadow: none;
}
.file-view.working {
	opacity: .4;
	cursor:progress;
	}	
	.file-view.working .working{
		display:block;
		position:absolute;
	}
.file-view.public {
	
	}	
	.file-view.public .world-icon {
		display:block;
	}
.pile-view {
	position:relative;
	margin: 45px auto;
	max-width:800px;
	}
	.pile-view .help {
		display:none;
		position:absolute;
		top:100px;
		left:-35px;
	}
	.pile-view .file-collection {

	}
	.pile-view .private {
		min-height:400px;
		width: 800px;
		margin:0;
		padding:0;
	}
	.pile-view .private.drophover {
		background-color:#CCC;
	}
	.pile-view .public {
		margin: 0;
		height:150px;
		width: 632px;
		background-color:#EED;
		display:inline-block;
		padding:0;
	}
	.pile-view .public.drophover {
		background-color:#DDA;
	}
	.pile-view .trash {
		margin:0;
		height:150px;
		width:160px;
		background-color:#EDD;
		display:inline-block;
		padding:0;
	}
	.pile-view .trash.drophover {
		background-color:#DAA;
	}
	
	.pile-view .well {
		position:relative;
	}
	.pile-view .pile-title {
		position:absolute;
		top:.3em;
		left:.3em;
		opacity: .5;
	}
	.pile-view .pile-name {
			margin-bottom: 0px;
		}
		.pile-view .pile-name .rename {
			visibility:hidden;
		}
		.pile-view .pile-name:hover .rename {
			visibility:visible;
		}
	
.pile-view.empty {
	
	}
	.pile-view.empty .help {
		display:block;
	}