.highcharts-container text[text-anchor=end] {
    display:none;
}

.usage-diagram {
	position:relative;
	}
	.usage-diagram div.comp {
	    position:relative;
		}
		.usage-diagram div.comp img.graphic {
			width: 110px;
		}
		.usage-diagram div.comp .arrow {
			position: absolute;
			top:-25px;
			left:28px;
			height:80px;
		}
		.usage-diagram div.comp h2 {
			position:absolute;
			bottom:95px;
			left: 18px;
			width: 170px;
			color:white;
			text-shadow:2px 2px #000;
			text-align:center;
			line-height:1em;
		}
	.usage-diagram div.pile {
	    position:absolute;
	    top:40px;
	    left:100px;
	    }
        .usage-diagram div.pile img {
	        opacity:.2;
	    }
	    
	.uage-diagram td {
	    overflow:hidden;
	}
	    
	.usage-diagram div.world {
	    position:relative;
		}
		.usage-diagram div.world img.graphic {
			width:96px;
		}
		.usage-diagram div.world .arrow {
			position:absolute;
			top:-25px;
			left:28px;
			height:80px;
		}
		.usage-diagram div.world h2 {
			position:absolute;
			top:65px;
			left: 25px;
			color:white;
			text-shadow:2px 2px #000;
		}
	.usage-diagram .usage-event {
	    font-size:.7em;
	}