<html>
	<head>
		<title>Manage {{pile.domain}} Pile</title>
	    <script src="http://{{CONTENT_DOMAIN}}/static/js/jquery-1.7.1.min.js"></script>
	    <script src="http://{{CONTENT_DOMAIN}}/static/js/jquery-ui.min.js"></script>
	    <script src="http://{{CONTENT_DOMAIN}}/static/js/bootstrap.js"></script>
	    <script src="http://{{CONTENT_DOMAIN}}/static/js/jquery.fileupload.js"></script>
	    <script src="http://{{CONTENT_DOMAIN}}/static/js/underscore.js"></script>
	    <script src="http://{{CONTENT_DOMAIN}}/static/js/backbone.js"></script>
	</head>
	<body>
		<h1>Manage {{pile.domain}} Pile</h1>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>