<html>
    <head>
        <title>Manage {{pile.domain}} Pile</title>
        <link rel="stylesheet" type="text/css" href="http://{{CONTENT_DOMAIN}}/static/css/bootstrap.min.css" />
    </head>
    <body>
        <h1>Manage {{pile.domain}} Pile</h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th><th>Type</th><th>Size</th><th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
		
		<!-- Scripts -->
        <script src="http://{{CONTENT_DOMAIN}}/static/js/jquery-1.7.1.min.js"></script>
        <script src="http://{{CONTENT_DOMAIN}}/static/js/jquery-ui.min.js"></script>
        <script src="http://{{CONTENT_DOMAIN}}/static/js/bootstrap.js"></script>
        <script src="http://{{CONTENT_DOMAIN}}/static/js/jquery.fileupload.js"></script>
        <script src="http://{{CONTENT_DOMAIN}}/static/js/underscore.js"></script>
        <script src="http://{{CONTENT_DOMAIN}}/static/js/backbone.js"></script>
		<script src="http://{{CONTENT_DOMAIN}}/static/js/piles.lib.js"></script>
		<script src="http://{{CONTENT_DOMAIN}}/static/js/piles.dropper.js"></script>
		<!-- End scripts -->
    </body>
</html>